In [1]:
import psycopg2
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

conn = psycopg2.connect(database="pointclouds",
                        host="172.17.0.2",
                        user="postgres",
                        password="ventanuco",
                        port="5432")

In [2]:
z = 1

display('', metadata={'tipo': 'descripcion', 'datos': {'zona': z, 'vuelos': ['lida2', 'vuelo1', 'lida3', 'vuelo2']}})

''

In [3]:
fm_ha = pd.read_sql(f'select value::int, st_area(st_union(geometry)) from fm_vuelo1_zona{z} group by value order by value', conn)

modelos = list(fm_ha.value)

display('', metadata={'tipo': 'evolucion', 'datos': {'zona': z, 'vuelo_pre': 'vuelo1', 'vuelo_post': 'vuelo2', 'modelos': modelos}})

''

In [4]:
z = 2

display('', metadata={'tipo': 'descripcion', 'datos': {'zona': z, 'vuelos': ['lida2', 'vuelo1', 'lida3', 'vuelo2']}})

''

In [5]:
fm_ha = pd.read_sql(f'select value::int, st_area(st_union(geometry)) from fm_vuelo1_zona{z} group by value order by value', conn)

modelos = list(fm_ha.value)

display('', metadata={'tipo': 'evolucion', 'datos': {'zona': z, 'vuelo_pre': 'vuelo1', 'vuelo_post': 'vuelo2', 'modelos': modelos}})

''

In [9]:
z = 3

display('', metadata={'tipo': 'descripcion', 'datos': {'zona': z, 'vuelos': ['lida2', 'lida3', 'vuelo2']}})

''

In [8]:
# fm_ha = pd.read_sql(f'select value::int, st_area(st_union(geometry)) from fm_lida3_zona{z} group by value order by value', conn)

# modelos = list(fm_ha.value)

# display('', metadata={'tipo': 'evolucion', 'datos': {'zona': z, 'vuelo_pre': 'vuelo1', 'vuelo_post': 'vuelo2', 'modelos': modelos}})